<mat-toolbar>
	<img
		src="../../../assets/reloj-icono.png"
		width="45"
		alt="Gual Street Home"
	/>
	<span class="title">Gual Street</span>
	<button mat-button [matMenuTriggerFor]="menu">
		<mat-icon
			aria-hidden="false"
			aria-label="Example home icon"
			fontIcon="settings"
		></mat-icon>
		Configuración
	</button>
	<mat-menu #menu="matMenu">
		<button mat-menu-item [matMenuTriggerFor]="productos">
			Productos
		</button>
		<mat-menu #productos="matMenu">
			<button mat-menu-item routerLink="productlist">
				Alta/Baja/Modificación
			</button>
			<button mat-menu-item routerLink="productquery">
				Consulta a Lista de Precios
			</button>
		</mat-menu>
		<button mat-menu-item>Rubros</button>
		<button mat-menu-item>Clientes</button>
		<button mat-menu-item>Proveedores</button>
	</mat-menu>
</mat-toolbar>
